/*I wanted to make all the site functions firs, and then do the styling. So it was suposed to be here temporary, until i would actually do the styling myself, but after all i wasn't able to do much of styling, and i just left it here. I really really need to learn more css */

body {
  text-align: center;
}

#root {
  width: 100%; 
  justify-content: center; 
  align-items: center; 
}


